  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Danh sách đơn nhập kho
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Danh sách đơn nhập kho</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <div class="row marginleft5px">
                <div class="col-xs-12">
                    <form class="form-inline" novalidate name="frmSearch" ng-submit="search()">
                        <div class="row">
                            <input type="text" ng-model="filterBooks" class="form-control" placeholder="Từ khoá...">
                            <button class="btn btn-default" type="submit" style="width:60px" title="Tìm kiếm"><i class="fa fa-search"></i></button>
                            <a class="btn btn-success" ui-sref="add_stockin" style="width:60px" title="Thêm mới" target="_blank"><i class="fa fa-plus"></i></a>
                            <button type="button" class="btn btn-warning" ng-click="refeshPage()" title="Làm mới DS" style="width:60px"><i class="fa fa-fw fa-refresh"></i></button>
                            <button type="button" class="btn btn-flickr" ng-click="loadFilter()" title="Bộ lọc" style="width:60px"><i class="fa fa-fw fa-filter"></i></button>
                            <div class="pull-right totalcount">
                                <span>
                                    Hiển thị <select ng-model="pageSizeNumber" ng-change="search()">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select> dòng
                                </span>
                            </div>
                            <span ng-hide="pagesCount==0" class="pull-right totalcount"> Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}} | </span>

                        </div>
                    </form>

                </div>
            </div>
            <div ng-show="animate" class="row marginleft5px margintop10px" style="margin-right:0px">
                <div class="col-xs-2" style="padding-right:5px;padding-left:0px">
                    <div class="box box-solid box-primary" style="margin-bottom:0px">
                        <div class="box-header">
                            <h3 class="box-title">Từ đơn</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body" style="padding-bottom:5px">
                            <select style="width:100%;border:0px;padding-left:0px"
                                    ng-change="updateFilter()" ng-options="option.Name for option in stockinCategoryFilters track by option.Id"
                                    ng-model="filters.selectedStockinCategoryFilters"
                                    name="stockinCategoryFilter"
                                    class="form-control"
                                    size="5"
                                    multiple></select>
                        </div><!-- /.box-body -->
                    </div>
                </div>
                <!--<div class="col-xs-2" style="padding-right:5px;padding-left:0px">
                    <div class="box box-solid box-primary" style="margin-bottom:0px">
                        <div class="box-header">
                            <h3 class="box-title">Từ kho</h3>
                        </div>
                        <div class="box-body" style="padding-bottom:5px">
                            <select style="width:100%;border:0px;padding-left:0px"
                                    ng-change="updateFilter()" ng-options="option.Name for option in branchFilters track by option.Id"
                                    ng-model="filters.selectedBranchFilters"
                                    name="branchFilter"
                                    class="form-control"
                                    size="5"
                                    multiple></select>
                        </div> /.box-body 
                    </div>
                </div>-->
                <div class="col-xs-2" style="padding-right:5px;padding-left:0px">
                    <div class="box box-solid box-primary" style="margin-bottom:0px">
                        <div class="box-header">
                            <h3 class="box-title">Từ nhà cung cấp</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body" style="padding-bottom:5px">
                            <select style="width:100%;border:0px;padding-left:0px"
                                    ng-change="updateFilter()" ng-options="option.Name for option in supplierFilters track by option.Id"
                                    ng-model="filters.selectedSupplierFilters"
                                    name="supplierFilter"
                                    class="form-control"
                                    size="5"
                                    multiple></select>
                        </div><!-- /.box-body -->
                    </div>
                </div>
                <div class="col-xs-2" style="padding-left:0px;padding-right:5px">
                    <div class="box box-solid box-primary" style="margin-bottom:0px">
                        <div class="box-header">
                            <h3 class="box-title">Tình trạng đơn</h3>
                        </div>
                        <div class="box-body" style="padding-bottom:5px">
                            <select style="width:100%;border:0px;padding-left:0px"
                                    ng-change="updateFilter()" ng-options="option.Name for option in bookStatusFilters track by option.Id"
                                    ng-model="filters.selectedBookStatusFilters"
                                    name="bookStatusFilter"
                                    class="form-control"
                                    size="5"
                                    multiple></select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2" style="padding-left:0px;padding-right:5px">
                    <div class="box box-solid box-primary" style="margin-bottom:0px">
                        <div class="box-header">
                            <h3 class="box-title">Tình trạng thanh toán</h3>
                        </div>
                        <div class="box-body" style="padding-bottom:5px">
                            <select style="width:100%;border:0px;padding-left:0px"
                                    ng-change="updateFilter()" ng-options="option.Name for option in paymentStatusFilters track by option.Id"
                                    ng-model="filters.selectedPaymentStatusFilters"
                                    name="bookStatusFilter"
                                    class="form-control"
                                    size="5"
                                    multiple></select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2" style="padding-left:0px;padding-right:5px">
                    <div class="box box-solid box-primary" style="margin-bottom:0px">
                        <div class="box-header">
                            <h3 class="box-title">Thời gian tạo đơn</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body" style="padding-bottom:5px;height:122px">
                            <div class="row" style="margin-bottom:5px">
                                <div class="col-xs-3" style="text-align:right">
                                    <label class="control-label margintop5px">Từ</label>
                                </div>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="startDateFilter" is-open="picker.startDateFilter" datepicker-options="dateOptions" readonly clear-text="Xoá" current-text="Hôm nay" close-text="Đóng" ng-click="openStartDateFilter($event)" />
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:5px">
                                <div class="col-xs-3" style="text-align:right">
                                    <label class="control-label margintop5px">Đến</label>
                                </div>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="endDateFilter" is-open="picker.endDateFilter" datepicker-options="dateOptions" readonly clear-text="Xoá" current-text="Hôm nay" close-text="Đóng" ng-click="openEndDateFilter($event)" />
                                </div>
                            </div>
                            <div style="margin-top:5px">
                                <button type="button" class="btn btn-success" style="padding:2px;float:left;margin-left:10px" ng-click="updateFilter()">Lọc</button>
                                <button type="button" class="btn btn-danger" style="padding:2px;float:right" ng-click="resetTimeFilter()">Xoá</button>
                            </div>
                        </div><!-- /.box-body -->
                    </div>
                </div>
                <div class="col-xs-2" style="padding-left:0px;padding-right:5px">
                    <div class="box box-solid box-primary" style="margin-bottom:0px">
                        <div class="box-header">
                            <h3 class="box-title">Thời gian nhập kho</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body" style="padding-bottom:5px;height:122px">
                            <div class="row" style="margin-bottom:5px">
                                <div class="col-xs-3" style="text-align:right">
                                    <label class="control-label margintop5px">Từ</label>
                                </div>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="startStockinDateFilter" is-open="picker.startStockinDateFilter" datepicker-options="dateOptions" readonly clear-text="Xoá" current-text="Hôm nay" close-text="Đóng" ng-click="openStartStockinDateFilter($event)" />
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:5px">
                                <div class="col-xs-3" style="text-align:right">
                                    <label class="control-label margintop5px">Đến</label>
                                </div>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="endStockinDateFilter" is-open="picker.endStockinDateFilter" datepicker-options="dateOptions" readonly clear-text="Xoá" current-text="Hôm nay" close-text="Đóng" ng-click="openEndStockinDateFilter($event)" />
                                </div>
                            </div>
                            <div style="margin-top:5px">
                                <button type="button" class="btn btn-success" style="padding:2px;float:left;margin-left:10px" ng-click="updateFilter()">Lọc</button>
                                <button type="button" class="btn btn-danger" style="padding:2px;float:right" ng-click="resetStockinTimeFilter()">Xoá</button>
                            </div>
                        </div><!-- /.box-body -->
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="responsivetable">
                        <table class="table table-bordered table-striped table-hover text-center table_data" style="margin-bottom:10px">
                            <tr style="background-color:white">
                                <th colspan="11" style="text-align:right;">Tổng tiền ds:&emsp; <span style="color:red">{{totalMoney | currency:'':0}} đ</span></th>
                            </tr>
                            <tr></tr>
                            <tr>
                                <th>Mã</th>
                                <th>Từ</th>
                                <!--<th>Đến</th>-->
                                <th ng-click="sortBy('CreatedDate')">Ngày tạo <i class="fa fa-fw fa-sort"></i></th>
                                <th>Ngày nhập</th>
                                <th ng-click="sortBy('Total')">Tổng<i class="fa fa-fw fa-sort"></i></th>
                                <th>Số lượng</th>
                                <th>Ghi chú</th>
                                <th>Tình trạng <br />đơn</th>
                                <th>Tình trạng <br />TT</th>
                                
                                <!--<th>Tình trạng <br />xuất kho</th>-->
                                <td style="width:10%">
                                    <button ng-click="clearStamp()" class="btn btn-danger" style="background-color:indianred"><i class="fa fa-remove "></i> Xoá DS In Tem</button>
                                </td>
                            </tr>
                            <tr ng-form name="data{{$index}}" ng-repeat="item in books">
                                <td>{{item.Id}}</td>
                                <td>- {{item.Category}} -<br />{{item.FromBranch}}<span ng-show="item.CategoryId=='00' || item.CategoryId=='02'">{{item.FromSuppliers}}</span></td>
                                <!--<td>{{item.ToBranch}}</td>-->
                                <td>{{item.CreatedDateConvert}}</td>
                                <td>{{item.StockInDateConvert}}</td>
                                <td>{{item.Total | currency:'':0}} đ</td>
                                <td>{{item.TotalQuantity}}</td>
                                <td>
                                    {{item.Description}}
                                </td>
                                <td>
                                    <span ng-class="item.ToBranchStatusCss">
                                        {{item.ToBranchStatus}}
                                    </span>
                                </td>
                                <td>
                                    <span ng-show="item.PaymentStatus && item"
                                          style="padding:10px"
                                          ng-class="{'current_obj':item.CategoryId=='00' || item.CategoryId=='02','text-green':item.PaymentStatusId=='1','text-red':item.PaymentStatusId=='2'}"
                                          popover-placement="top-right"
                                          uib-popover-template="dynamicPopover.templateUrl"
                                          popover-trigger="'none'"
                                          popover-is-open="enabledPopover[{{item.Id}}]"
                                          ng-click="openPaymentPopover(item)">
                                        {{item.PaymentStatus}}
                                    </span>
                                    <br />{{item.PaidDateConvert}}
                                </td>
                                
                                <!--<td>
                                    <span>
                                        {{item.FromBranchStatus}}
                                    </span>
                                </td>-->
                                <td style="width:13%">
                                    <button style="margin-top:3px" ng-hide="item.ToBranchStatusId=='07' || item.ToBranchStatusId=='02'" ng-click="addBook(item)" title="Nhập kho" class="btn btn-sm btn-success"><i class="fa fa-download"></i></button>
                                    <button style="margin-top:3px" ng-click="bookDetail(item)" title="Chi tiết" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                                    <button style="margin-top:3px" ng-show="item.CategoryId=='02' && item.ToBranchStatusId!='02' && item.ToBranchStatusId!='07'" ui-sref="edit_stockin({stockinId:item.Id})" title="Chỉnh sửa" class="btn btn-sm btn-info"><i class="fa fa-pencil"></i></button>
                                    <button style="margin-top:3px" ng-show="item.CategoryId=='00' && item.ToBranchStatusId!='02' && item.ToBranchStatusId!='07'" ui-sref="edit_book({stockinId:item.Id})" title="Chỉnh sửa" class="btn btn-sm btn-info"><i class="fa fa-pencil"></i></button>
                                    <button style="margin-top:3px" ng-click="updateCancel(item)" ng-show="(item.CategoryId=='02'|| item.CategoryId=='00') && item.ToBranchStatusId!='02' && item.ToBranchStatusId!='07'" title="Huỷ" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                                    <button ng-click="addStamp(item)" title="In tem" class="btn btn-sm" style="color:white;background-color:#fc7e81;margin-top:3px"><i class="fa fa-bookmark-o"></i></button>
                                    <button style="margin-top:3px" ng-click="getDetailStockinToPrint(item)" title="In đơn" class="btn btn-sm btn-warning"><i class="fa fa-print"></i></button>
                                    <!--ng-show="item.ToBranchStatusId == '07'"-->
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <custom-pager page="{{page}}" pages-count="{{pagesCount}}" totalcount="{{totalCount}}" search-func="search(page)"></custom-pager>
                </div>
            </div>
            <div class="row" style="display:none">
                <div id="printDiv">
                    <style>
                        @media print {
                            .ng-hide {
                                display: none !important;
                            }
                        }

                        ul li {
                            list-style: none;
                        }

                        #content {
                            font-size: 12px;
                        }
                    </style>
                    <div id="content">
                        <h5 class="text-center" style="font-weight: 700;margin-bottom:5px">Babymart.vn - Nơi bố mẹ gửi trọn niềm tin.</h5>
                        <p class="text-center" style="margin-top:0px">(028) 7309.3479 – 0918.644643</p>
                        <h4 class="text-center">ĐƠN NHẬP KHO</h4>
                        <div ng-hide="stockinReturn.CategoryId!='01'" class="row">
                            <div class="col col-xs-5 text-right" style="padding-right:5px">Từ đơn ĐH kho {{stockinReturn.Id}} :</div>
                            <div class="col col-xs-7 text-left" style="padding-left:5px">{{stockinReturn.FromBranch}}</div>
                        </div>
                        <div ng-hide="stockinReturn.CategoryId!='00'" class="row">
                            <div class="col col-xs-5 text-right" style="padding-right:5px">Từ đơn ĐH NCC {{stockinReturn.Id}} :</div>
                            <div class="col col-xs-7 text-left" style="padding-left:5px">{{stockinReturn.SupplierName}}</div>
                        </div>
                        <div ng-hide="stockinReturn.CategoryId!='03'" class="row">
                            <div class="col col-xs-5 text-right" style="padding-right:5px">Từ đơn xuất kho {{stockinReturn.Id}}:</div>
                            <div class="col col-xs-7 text-left" style="padding-left:5px">{{stockinReturn.FromBranch}}</div>
                        </div>
                        <div ng-hide="stockinReturn.CategoryId!='02'" class="row">
                            <div class="col col-xs-5 text-right" style="padding-right:5px">Từ đơn nhập kho {{stockinReturn.Id}}:</div>
                            <div class="col col-xs-7 text-left" style="padding-left:5px">{{stockinReturn.ToBranch}}</div>
                        </div>
                        <div class="row">
                            <div class="col col-xs-5 text-right" style="padding-right:5px">Đến kho :</div>
                            <div class="col col-xs-7 text-left" style="padding-left:5px">{{stockinReturn.ToBranch}}</div>
                        </div>
                        <div class="row">
                            <div class="col col-xs-5 text-right" style="padding-right:5px">Ngày nhập kho :</div>
                            <div class="col col-xs-7 text-left" style="padding-left:5px">{{stockinReturn.StockinDate | date:'dd-MM-yyyy HH:mm:ss'}}</div>
                        </div>
                        <table class="table table-bordered table-striped table-hover text-center" style="margin-bottom:0px">
                            <tr>
                                <th class="text-center" style="padding:1px"></th>
                                <th class="text-center" style="padding:1px">Mã</th>
                                <th class="text-center" style="font-size:11px">Tên</th>
                                <th class="text-center" style="padding:1px">SL</th>
                                <th class="text-center" style="padding:1px">Giá</th>
                                <!--<th class="text-center" style="padding:1px">T.Tiền</th>-->
                            </tr>
                            <tr ng-repeat="item in stockinReturn.SoftStockInDetails">
                                <td style="padding:1px">{{$index+1}}</td>
                                <td style="padding:1px">{{item.masp}}</td>
                                <td style="font-size:11px">{{item.tensp}}</td>
                                <td style="padding:1px">{{item.Quantity}}</td>
                                <td style="padding:1px">{{item.PriceNew | currency:'':0}}</td>
                                <!--<td style="padding:1px">{{item.Quantity * item.PriceNew | currency:'':0}}</td>-->
                            </tr>
                            <tr>
                                <td colspan="3" class="text-right">Tổng số lượng</td>
                                <td colspan="2">{{totalQuantity | currency:'':0}} <span style="font-size:11px"></span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="text-right">Tổng thành tiền</td>
                                <td colspan="2">{{totalMoneyPrint | currency:'':0}} <span style="font-size:11px">đ</span></td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>

        </div><!-- /.box-body -->
    </div><!-- /.box -->

    <script type="text/ng-template" id="myPopoverTemplate.html">
        <div class="row paddingleft5px">
            <div class="col-xs-11" style="padding-right:0px">
                <label class="marginright10px">Đơn {{selectedStockin.Id}} - Tình trạnh thanh toán: <span style="color:red">{{selectedStockin.PaymentStatus}}</span></label>
            </div>
            <div class="col-xs-1" style="padding-left:0px;padding-right:0px">
                <i class="fa fa-2 fa-close pull-right marginright10px current_cursor"
                   style="margin-bottom:5px"
                   ng-click="closePaymentPopover()"></i>
            </div>
        </div>
        <div class="row paddingleft5px margintop5px">
            <div class="col-xs-4 text-right">
                <span class="table_data">Phương thức TT:</span>
            </div>
            <div class="col-xs-8">
                <select ng-disabled="selectedStockin.PaymentStatusId==1"
                        ng-options="option.Name for option in paymentMethods track by option.Id"
                        ng-model="selectedPaymentMethod"
                        ng-change="updateSelectedPaymentMethod(selectedPaymentMethod)"
                        name="paymentMethod"
                        class="marginleft5px"></select>
            </div>
        </div>
        <div ng-show="selectedStockin.PaymentStatusId==1" class="row paddingleft5px margintop5px">
            <div class="col-xs-4 text-right">
                <span class="table_data">Ngày TT:</span>
            </div>
            <div class="col-xs-8">
                {{selectedStockin.PaidDateConvert}}
            </div>
        </div>
        <div class="row paddingleft5px margintop5px" style="text-align:center">
            <button type="button" ng-disabled="!selectedPaymentMethod" ng-show="selectedStockin.PaymentStatusId==2" title="Cập nhật" class="btn btn-success" style="width:60px" ng-click="updatePaymentPopover()">
                <i class="fa fa-fw fa-save"></i>
            </button>
        </div>
    </script>

</section><!-- /.content -->