<div class="modal-header">
    <h4>Chi tiết đơn nhập kho - {{selectedBook.Id}}</h4>
</div>
<div class="modal-body" id="modal-body">
    <form role="form" novalidate angular-validator name="frmBookDetail" class="form-inline">
        <div class="row">
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-4 text-right">
                        <label>Từ:</label>
                    </div>
                    <div class="col-xs-8">- {{book.Category}} - <span ng-show="book.FromBranchId>0">{{book.FromBranch}}</span><span ng-show="book.SupplierId>0">{{book.SupplierName}}</span></div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-right">
                        <label>Đến:</label>
                    </div>
                    <div class="col-xs-8">{{book.ToBranch}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-right">
                        <label>Ngày tạo:</label>
                    </div>
                    <div class="col-xs-8">{{book.CreatedDate| date: 'dd/MM/yyyy HH:mm'}}</div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-4 text-right">
                        <label>Tình trạng đơn:</label>
                    </div>
                    <div class="col-xs-8 ">
                        <span ng-class="book.ToBranchStatusCss">
                            {{book.ToBranchStatus}}
                        </span>
                    </div>
                </div>
                <div ng-show="book.FromBranchId>0" class="row">
                    <div class="col-xs-4 text-right">
                        <label>Tình trạng xuất kho:</label>
                    </div>
                    <div class="col-xs-8 ">
                        <span>
                            {{book.FromBranchStatus}}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-right">
                        <label>Người tạo:</label>
                    </div>
                    <div class="col-xs-8">{{book.CreatedByName}}</div>
                </div>
            </div>
        </div>
        <div class="row nomarginleft margintop20px">
            <table ng-show="book.SoftStockInDetails.length>0" class="table table-bordered table-striped table-hover">
                <tr>
                    <th>STT</th>
                    <th>Mã sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Giá nhập mới</th>
                    <th>Thành tiền</th>
                </tr>
                <tr ng-repeat="itemBookDetail in book.SoftStockInDetails">
                    <td>{{$index+1}}</td>
                    <td>{{itemBookDetail.masp}}</td>
                    <td style="text-align:left">{{itemBookDetail.tensp}}</td>
                    <td>{{itemBookDetail.Quantity}}</td>
                    <td>{{itemBookDetail.PriceNew | currency:'':0}}</td>
                    <td>{{itemBookDetail.Quantity * itemBookDetail.PriceNew | currency:'':0}}</td>
                </tr>
                <tr>
                    <th colspan="3" style="text-align:right">Tổng số lượng</th>
                    <td>{{book.TotalQuantity}}</td>
                    <th style="text-align:right">Tổng tiền</th>
                    <td>{{book.Total | currency:'':0}} đ</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:right">Ghi chú</td>
                    <td colspan="4">
                        <textarea ng-readonly="book.FromSuppliers==null" ng-model="book.Description" style="width:100%" class="form-control" rows="3"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <button ng-hide="book.FromSuppliers==null" ng-click="updateDescription()" class="btn btn-success">Cập nhật</button>
                        <button ng-click="okBook()" class="btn btn-default">Trở về</button>
                        <!--<button ng-hide="book.StatusId=='00' || book.StatusId=='02'" ng-click="updateCancel()" class="btn btn-danger">Huỷ đơn</button>-->
                    </td>
                </tr>
            </table>
            <div ng-if="loading">
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <i class="fa fa-refresh fa-4x fa-spin"></i> <label class="label label-primary">Đang tải...</label>
                </div>
                <div class="col-xs-4"></div>
            </div>
        </div>
    </form>
</div>