<div class="modal-header">
    <h4>Chọn ngày</h4>
</div>
<div class="modal-body" id="modal-body">
    <form role="form" novalidate angular-validator name="frmSoldProductsByDate" class="form-inline">
        <div class="row nomarginleft">
            <div class="row">
                <div class="col-xs-3" style="text-align:right">
                    <label>Từ:</label>
                </div>
                <div class="col-xs-4">
                    <input type="text" class="form-control paddingleft5px width120px" uib-datepicker-popup="dd/MM/yyyy" ng-model="startDateFilter" is-open="picker.startDateFilter" datepicker-options="dateOptions" readonly clear-text="Xoá" current-text="Hôm nay" close-text="Đóng" ng-click="openStartDateFilter($event)" />
                </div>
                <div class="col-xs-4">
                    <label>00:00:00</label>
                </div>
            </div>
            <div class="row margintop5px">
                <div class="col-xs-3" style="text-align:right">
                    <label>Đến:</label>
                </div>
                <div class="col-xs-4">
                    <input type="text" class="form-control paddingleft5px width120px" uib-datepicker-popup="dd/MM/yyyy" ng-model="endDateFilter" is-open="picker.endDateFilter" datepicker-options="dateOptions" readonly clear-text="Xoá" current-text="Hôm nay" close-text="Đóng" ng-click="openEndDateFilter($event)" ng-change="updateDateFilter()" />
                </div>
                <div class="col-xs-4">
                    <label>23:59:59</label>
                </div>
            </div>
            <!--<div ng-if="loadingModal">
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <i class="fa fa-refresh fa-4x fa-spin"></i> <label class="label label-primary">Đang export...</label>
                </div>
                <div class="col-xs-4"></div>
            </div>-->

        </div>
    </form>
</div>
<div class="modal-footer" style="text-align:center">
    <button ng-click="loadSoldProductsByDate()" class="btn btn-success">OK</button>
    <button ng-click="backButton()" title="Trở về" class="btn btn-default" type="button">Trở về</button>
    <div ng-if="loadingSoldProduct">
        <i class="fa fa-refresh fa-4x fa-spin"></i> <label class="label label-primary">Đang tải...</label>
    </div>
</div>