  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Danh sách phiếu điều chỉnh
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Danh sách phiếu điều chỉnh</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <div class="row marginleft5px">
                <div class="col-xs-12">
                    <form class="form-inline" novalidate name="frmSearch" ng-submit="search()">
                        <div class="row">
                            <input type="text" ng-model="filterBooks" class="form-control" placeholder="Từ khoá...">
                            <button class="btn btn-default" type="submit" style="width:60px" title="Tìm kiếm"><i class="fa fa-search"></i></button>
                            <a class="btn btn-success" ui-sref="add_adjustment_stock" style="width:60px" title="Thêm mới" target="_blank"><i class="fa fa-plus"></i></a>
                            <button type="button" class="btn btn-warning" ng-click="refeshPage()" title="Làm mới DS" style="width:60px"><i class="fa fa-fw fa-refresh"></i></button>
                            <button type="button" class="btn btn-flickr" ng-click="loadFilter()" title="Bộ lọc" style="width:60px"><i class="fa fa-fw fa-filter"></i></button>
                            <div class="pull-right totalcount">
                                <span>
                                    Hiển thị <select ng-model="pageSizeNumber" ng-change="search()">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select> dòng
                                </span>
                            </div>
                            <span ng-hide="pagesCount==0" class="pull-right totalcount"> Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}} | </span>

                        </div>
                    </form>
                </div>
            </div>
            <div ng-show="animate" class="row marginleft5px margintop10px" style="margin-right:0px">
                <div class="col-xs-3" style="padding-left:0px;padding-right:5px">
                    <div class="box box-solid box-primary" style="margin-bottom:0px">
                        <div class="box-header">
                            <h3 class="box-title">Thời gian lập phiếu</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body" style="padding-bottom:5px;height:122px">
                            <div class="row" style="margin-bottom:5px">
                                <div class="col-xs-3" style="text-align:right">
                                    <label class="control-label margintop5px">Từ</label>
                                </div>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="startDateFilter" is-open="picker.startDateFilter" datepicker-options="dateOptions" readonly clear-text="Xoá" current-text="Hôm nay" close-text="Đóng" ng-click="openStartDateFilter($event)" />
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:5px">
                                <div class="col-xs-3" style="text-align:right">
                                    <label class="control-label margintop5px">Đến</label>
                                </div>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="endDateFilter" is-open="picker.endDateFilter" datepicker-options="dateOptions" readonly clear-text="Xoá" current-text="Hôm nay" close-text="Đóng" ng-click="openEndDateFilter($event)" />
                                </div>
                            </div>
                            <div style="margin-top:5px">
                                <button type="button" class="btn btn-success" style="padding:2px;float:left;margin-left:10px" ng-click="updateFilter()">Lọc</button>
                                <button type="button" class="btn btn-danger" style="padding:2px;float:right" ng-click="resetTimeFilter()">Xoá</button>
                            </div>
                        </div><!-- /.box-body -->
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="responsivetable">
                        <table class="table table-bordered table-striped table-hover text-center table_data" style="margin-bottom:10px">
                            <tr>
                                <th style="width:10%">Mã phiếu</th>
                                <th style="width:10%" ng-click="sortBy('CreatedDate')">Ngày lập<i class="fa fa-fw fa-sort"></i></th>
                                <th>Lý do</th>
                                <th style="width:10%">Nhân viên</th>
                                <th style="width:10%"></th>
                            </tr>
                            <tr ng-form name="data{{$index}}" ng-repeat="item in books">
                                <td>{{item.Id}}</td>
                                <td>{{item.CreatedDate| date: 'dd/MM/yyyy HH:mm'}}</td>
                                <td>
                                    {{item.Description}}
                                </td>
                                <td>{{item.ApplicationUser.UserName}}</td>
                                <td style="width:13%">
                                    <button ng-click="bookDetail(item)" title="Chi tiết" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <custom-pager page="{{page}}" pages-count="{{pagesCount}}" totalcount="{{totalCount}}" search-func="search(page)"></custom-pager>
                </div>
            </div>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</section><!-- /.content -->
<script>

</script>