  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thêm mới nhà cung cấp
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a ui-sref="suppliers">Nhà cung cấp</a></li>
        <li class="active">Thêm mới</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <!-- Horizontal Form -->
        <div class="box box-info">
            <!-- form start -->
            <form class="form-horizontal" novalidate name="frmAddSupplier" role="form" ng-submit="addSupplier()">
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Tên</label>
                        <div class="col-xs-6">
                            <input type="text" name="name" ng-maxlength="256" required ng-model="supplier.Name" class="form-control">
                            <span ng-show="frmAddSupplier.name.$invalid" class="has-error">Phải nhập tên nhà cung cấp</span>
                            <span ng-show="frmAddSupplier.name.$error.maxlength" class="has-error"> chỉ được 256 kí tự</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Địa chỉ</label>
                        <div class="col-xs-6">
                            <input type="text" name="address" ng-maxlength="500" ng-model="supplier.Address" class="form-control">
                            <span ng-show="frmAddSupplier.address.$error.maxlength"> chỉ được 500 kí tự</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Điện thoại</label>
                        <div class="col-xs-6">
                            <input type="text" ng-maxlength="256" name="phone" ng-model="supplier.Phone" class="form-control">
                            <span ng-show="frmAddSupplier.phone.$error.maxlength">chỉ được 256 kí tự</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Email</label>
                        <div class="col-xs-6">
                            <input type="text" ng-maxlength="256" name="email" ng-model="supplier.Email" class="form-control">
                            <span ng-show="frmAddSupplier.email.$error.maxlength">chỉ được 256 kí tự</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">VAT</label>
                        <div class="col-xs-6">
                            <select ng-options="option.Name for option in vatStatuses track by option.Id"
                                    class="form-control"
                                    name="vatStatus"
                                    ng-model="VAT">
                                <option value="" disabled>-- Chọn VAT --</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Bank Account</label>
                        <div class="col-xs-6">
                            <input type="text" ng-maxlength="150" name="accBank" ng-model="supplier.AccBank" class="form-control">
                            <span ng-show="frmAddSupplier.accBank.$error.maxlength">chỉ được 150 kí tự</span>
                        </div>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <div class="row">
                        <div class="col-xs-2">

                        </div>
                        <div class="col-xs-6">
                            <button type="submit" ng-disabled="frmAddSupplier.$invalid" class="btn btn-success">Hoàn thành</button>
                            <button ui-sref="suppliers" class="btn btn-default">Trở về</button>
                        </div>

                    </div>
                </div><!-- /.box-footer -->
            </form>
        </div><!-- /.box -->

</section><!-- /.content -->